.email-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email-signup img {
  height: 30px;
}

.header {
  font-family: 'Open-Sans';
  color: #36434D;
  font-size: 28px;
  margin: 130px 0px 0px;
}

.learn-text {
  font-family: 'Montserrat-SemiBold';
  font-size: 18px;
  color: #5E6971;
  line-height: 200%;
  max-width: 617px;
  margin-bottom: 30px;
}

.email-container {
  display: flex;
  flex-direction: row;
}

.email-container input {
  color: #36434D;
  width: 198px;
  height: 48px;
  border-radius: 5px;
  background-color: #F7F8FC;
  border: 1px solid #E0E7ED;
  font-family: 'Montserrat-Medium';
  margin: 6px 15px 0px 0px;
  padding-left: 15px;
  transition: border 0.15s;
  transition-timing-function: ease-in-out;
}

.email-container input:focus {
  border: 1px solid #A354B8;
  outline: 0;
}

.email-button-container {
  margin: 6px 0 0px;
  transition: margin 0.4s;
}

.email-button-container:hover {
  margin: 0px 0px 6px;
}

.email-button-container button {
  color: #FFFFFF;
  width: 167px;
  height: 100%;
  font-family: 'Montserrat-SemiBold';
  background-color: #9D2CBB;
  border: 0;
  border-radius: 5px;
  transition: box-shadow 0.4s;
}

.email-button-container button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.email-text {
  font-family: 'Montserrat-SemiBold';
  font-size: 14px;
  color: #5E6971;
  margin-bottom: 150px;
}

.meeting-text {
  font-family: 'Montserrat-SemiBold';
  font-size: 14px;
  color: #5E6971;
  margin: 30px 0px 30px;
}
