.hero-background {
  background: url('./../../assets/hero.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-bottom: 60px;
}

.hero-foreground {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  margin: auto;
  max-width: 940px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 50%;
  text-align: left;
  padding-left: 15px;
  padding-right: 35px;
}

.hero-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 55%;
  padding-right: 15px;
}

.button-container {
  width: 135px;
  margin: 30px 0 0px;
  transition: margin 0.4s;
}

.button-container:hover {
  margin: 24px 0px 6px;
}

.hero-left h1 {
  color: #FFFFFF;
  font-family: 'Open-Sans';
  font-size: 35px;
}

.hero-left h4 {
  color: #FFFFFF;
  font-family: 'Montserrat-Medium';
  font-size: 16px;
  line-height: 200%;
  margin: 0;
}

.hero-right video {
  max-height: 90vh;
}

.button-container button {
  width: 100%;
  height: 52px;
  color: #FFFFFF;
  background-color: #0CAB59;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  padding-bottom: 3px;
  font-family: 'Montserrat-SemiBold', Arial, sans-serif;
  transition: box-shadow 0.4s;
}

.button-container button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 700px) {
  .hero-foreground {
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
  }

  .hero-left {
    width: 90%;
    padding: 0px 15px 30px 0px;
  }

  .hero-right {
    max-width: 80%;
    padding-right: 0px;
  }

  .hero-right video {
    padding-top: 30px;
  }
}
