.hero-background {
  background: url('./../../assets/hero.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.hero-foreground {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: auto;
  max-width: 940px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 50%;
  text-align: left;
  padding: 0px 35px;
}

.hero-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.button-container {
  width: 135px;
  margin: 30px 0 0px;
  transition: margin 0.4s;
}

.button-container:hover {
  margin: 24px 0px 6px;
}

.hero-left h1 {
  color: #FFFFFF;
  font-family: 'Open-Sans';
}

.hero-left h4 {
  color: #FFFFFF;
  font-family: 'Montserrat-Medium';
  line-height: 200%;
  margin: 0;
}

.hero-right img {
  width: 100%;
}

.button-container button {
  width: 100%;
  height: 52px;
  color: #FFFFFF;
  background-color: #0CAB59;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  padding-bottom: 3px;
  font-family: 'Montserrat-SemiBold', Arial, sans-serif;
  transition: box-shadow 0.4s;
}

.button-container button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
