.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(94, 105, 113, 0.9);
}

.content {
  position: fixed;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -30%);
  font-family: 'Montserrat-Medium';
  background-color: #FFFFFF;
  color: #5E6971;
  text-align: center;
  width: 90%;
  max-width: 500px;
  max-height: 95vh;
  min-height: 480px;
  border-radius: 8px;
}

.modal-headlines {
  background-color: #F7F8FC;
  border-bottom: 1px solid #E0E7ED;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 30px;
}

.modal-heading {
  margin-top: 0px;
  padding-top: 30px;
  color: #36434D;
  margin-bottom: 5px;
}

.modal-subheading {
  margin-top: 0px;
}

.modal-heading-price {
  margin-bottom: 30px;
  color: #AE8DF4;
}

.modal-options-container {
  font-family: 'Montserrat-SemiBold';
  text-align: left;
}

.modal-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E0E7ED;
  padding: 0px 30px 0px;
}

.modal-option-name {
  color: #36434D;
}

.modal-option-price {
  color: #AE8DF4;
}

.modal-button-container {
  display: flex;
  justify-content: center;
  margin: 30px auto 0px;
  transition: margin 0.4s;
}

.modal-button-container:hover {
  margin: 24px auto 6px;
}

.modal-button-container a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 52px;
  color: #FFFFFF;
  background-color: #AE8DF4;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  padding-bottom: 3px;
  font-family: 'Montserrat-SemiBold', Arial, sans-serif;
  transition: box-shadow 0.4s;
}

.modal-button-container a:hover {
  cursor: pointer;
  background-color: #8E63EB;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
