.membership {
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: left;
}

.header {
  color: #36434D;
  text-align: left;
  font-family: 'Open-Sans';
  font-size: 34px;
  margin: 0px 0px 50px 15px;
}

.memb-container {
  width: 50%;
  margin: 0px 15px;
}

.memb-container img {
  border-radius: 7px;
}

.memb-container h2 {
  font-family: 'Open-Sans';
  color: #36434D;
  font-size: 28px;
  margin-top: 10px;
}

.discussion-text {
  font-family: 'Montserrat-SemiBold';
  font-size: 18px;
  color: #5E6971;
  line-height: 200%;
}

.button-container {
  width: 135px;
  margin: 30px 0 0px;
  transition: margin 0.4s;
}

.button-container:hover {
  margin: 24px 0px 6px;
}

.membership button {
  width: 100%;
  height: 52px;
  color: #FFFFFF;
  background-color: #AE8DF4;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  padding-bottom: 3px;
  font-family: 'Montserrat-SemiBold', Arial, sans-serif;
  transition: box-shadow 0.4s;
}

.membership button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
