.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 31px 0px;
}

.nav img {
  width: 136px;
}

.nav a {
  width: 67px;
  height: 26px;
  color: #ffffff;
  background-color: #8667e7;
  text-decoration: none;
  padding-top: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Montserrat-SemiBold", Arial, sans-serif;
  transition: margin-bottom 0.4s, box-shadow 0.4s;
}

.nav a:hover {
  cursor: pointer;
  margin-bottom: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
