.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(94, 105, 113, 0.9);
}

.content {
  position: fixed;
  top: 30%;
  left: 50%;
  padding-bottom: 25px;
  margin-right: -50%;
  transform: translate(-50%, -30%);
  font-family: 'Montserrat-Medium';
  background-color: #FFFFFF;
  color: #5E6971;
  text-align: center;
  width: 90%;
  max-width: 500px;
  max-height: 95vh;
  border-radius: 8px;
}

.modal-button-container {
  display: flex;
  justify-content: center;
  margin: 30px auto 0px;
  transition: margin 0.4s;
}

.modal-button-container:hover {
  margin: 24px auto 6px;
}

.modal-button-container button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 52px;
  color: #FFFFFF;
  background-color: #AE8DF4;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  padding-bottom: 3px;
  font-family: 'Montserrat-SemiBold', Arial, sans-serif;
  transition: box-shadow 0.4s;
}

.modal-button-container button:hover {
  cursor: pointer;
  background-color: #8E63EB;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modal-button-container button:disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.disabled {
  pointer-events: none;
}

.spinner {
  width: 100%;
  margin-top: 20px;
}
